{% extends "@App/main.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/follows.css') }}">
{% endblock %}
{% block title %}AppBundle:index:list{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
    {% block cont %}
    <div class="container">
        <div class="users_list col-lg-4 col-lg-offset-3">
        <table class="table">
            {%for user in users %}
            <tr class="user_list_item" data-user-id="{{ user.id }}">
                <td>{{ user.username }}</td>
                <td>
                    <button class="subscribe btn" style="display: none">Подписаться</button>
                    <button class="unsubscribe btn" style="display: none">Отписаться</button>
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>
        {% endblock %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/follows.js') }}"></script>
{% endblock %}
