{% extends "::base.html.twig" %}
{% block body %}
    {% block navbar %}
        <nav id="mainNav" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand cursive" href="{{ path('app_user_index') }}">Instagram</a>
                </div>
            </div>
        </nav>
    {% endblock %}
    {% block cont %}

    {% endblock %}
{% endblock body %}