{% extends "@App/main.html.twig" %}

{% block title %}Show Photo{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
    {% block cont %}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-4">
                <img width="400" height="400" src="{{ vich_uploader_asset(photo, 'photo') }}"/>
                <h3>{{ likes_count }}</h3>
                {% for comm in comments %}
                    <h5>{{ comm.comment }}  <span class="date_time">{{ datetime[comm.id] }}</span></h5>
                    <hr>
                {% endfor %}
                <a href="{{ path('app_index_photoslist') }}">Назад в ленту</a>
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}
