.subscribe {
    display: block;
    color: #fff;
    background: #ffea51;
}

.subscribe:hover {
    background: #27ff25;
    color: #fff;
}

.unsubscribe {
    display: block;
    color: #f6fff4;
    background: #ff254c;
}

.unsubscribe:hover {
    color: #ffffff;
    background: #ff0900;
    transition: 1s;
}