{% block subject %}Новый пароль{% endblock %}

{% block body_text %}

{% endblock %}

{% block body_html %}

    <div>Привет {{ user.username }} !</div>
    <hr/>

    <div>
        Вы можете изменить свой пароль перейдя по следующей
        <a href={{ confirmationUrl }} >ссылке</a>
    </div>
    <br>

    <div> С уважением,<br>
        RAIN </div>
{% endblock %}
