{% extends "@App/main.html.twig" %}

{% block title %}AppBundle:User:index{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
        {% endblock %}
    {% block cont %}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-4">
            {{ user.username }}
            {{ user.email }}
            <img style="border-radius: 50%" width="200" height="200" src="{{ vich_uploader_asset(user, 'imageFile') }}" />
            <a href="{{ path('app_index_userslist') }}">Users</a>
            {{ form(form) }}
            <table>
            {% for photo in photos %}
                <tr>
                    <td><img width="300" height="300" src="{{ vich_uploader_asset(photo, 'photo') }}"/></td>
                    <td>{{ form(deleteForm[photo.id]) }}</td>
                </tr>
            {% endfor %}
                <a href="{{ path('app_index_photoslist') }}">Photos</a>
            </table>
            </div>
        </div>
    </div>
        {% endblock %}
{% endblock %}
